@font-face {
  font-family: TTHoves-Light;
  src: url('../fonts/TTHoves-Light.woff');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: TTHoves-Regular;
  src: url('../fonts/TTHoves-Regular.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: TTHoves-Medium;
  src: url('../fonts/TTHoves-Medium.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: TTHoves-Bold;
  src: url('../fonts/TTHoves-Bold.woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: SFPro;
  src: url('../fonts/SFPro.ttf');
  font-style: normal;
  font-weight: 700;
}
