:root {
  --animation: ease-in-out 0.5s;
  --black-text: rgba(51, 51, 51, 1);
  --black-filler: rgba(51, 51, 51, 0.8);
  --grey-color: rgba(243, 243, 243, 1);
  --grey-color-background: rgba(251, 251, 251, 1);
  --grey-text: rgba(196, 196, 196, 1);
  --grey-text-form: rgba(141, 141, 141, 1);
  --footer-color: rgba(44, 44, 44, 1);
  --hover-text: rgb(114, 218, 250);
  --transparent-text: rgba(200, 200, 200, 0.5);
  --white-text: rgba(255, 255, 255, 1);
}
